@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap");
@import url("animations.css");
html,
body {
	margin: 0;
	display: flex;
	flex-direction: column;
	place-items: center;
	min-width: 100%;
	min-height: 100vh;
	overflow-x: hidden;
	font-family: "Montserrat", sans-serif;
}
#root {
	min-width: 100%;
	min-height: 100vh;
	margin: 0 auto;
}
body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../assets/fondo.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  z-index: -2;
  filter: brightness(0.5) blur(2px); /* oscurece y suaviza */
}

body::after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.027); /* capa semitransparente para oscurecer más */
  z-index: -1;
}